



.xush{
background-color: aqua;
caret-color: blue;
text-align: center;
font-size: 20px;
border: 2px solid red;
border-radius: 10px;
}


.hayvon{
    color: red;
    font-size: 13px;
}
.yerda{
font-size: 13px;

}
.volar{
color: darkgreen;

}

.haqida{
background-color: yellow;
color: darkgreen;
text-align: center;
font-size:17px ;
border-radius: 7px;
}
.oz{
    color: darkgreen;
}

.text{
    font-size: 77px;
    height: 29px;
}
.atish{
    background-color: aqua;
    font-size: 22px;
    color: white;

}
table{
    border-collapse: collapse;
    width: 100%;
}
tr,td,th{
    border: 1px               solid     black;
}

.arsl{
    background-color: red;
    color: white;
    text-align: center;
}

.hayv{
    background-color: darkgreen;
    text-align: center;
}
.kun{
    background-color: black;
    color: white;
    text-align: center;
}
.fakt{
    background-color: blue;
    color: white;
    text-align: center;
}













































































































